.gradle
.idea
.vertx
logs
META-INF
temp
*.jar
*.class
out
build
.vscode
bin
.classpath
.project
.settings
*.code-workspace
target/
*.bat
gradle-*
gradlew
file-uploads
uploads
vertx-web-kotlin/src/main/kotlin/com/perkins/entity/Task.kt
vertx-web-kotlin/src/main/kotlin/com/perkins/entity/TaskType.kt
vertx-web-kotlin/src/main/java/com/perkins/util/Md5Util.java
.iml